---
import { site } from "../config/site";
---

<!-- Footer -->
<footer class="mt-14 text-center text-sm text-muted">
    <div class="flex justify-center gap-6 mb-2">
        <a href=""></a>
    </div>
    <p>© {new Date().getFullYear()} {site.name}. All rights reserved.</p>
</footer>
<!-- Footer -->