---
import { site } from "../config/site";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const {title} = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>
            {title ? `${title} — ${site.name}` : site.name}
        </title>
        <meta name="description" content={site.subtitle}>
    </head>
    <body class="font-sans text-gray-900 bg-white">
        <Navbar/>
        <main class="max-w-5xl mx-auto px-10 py-10">
            <slot/>
        </main>
        <Footer/>
    </body>
</html>